body h2{
    text-align: center;
    color: white;
    font-weight: bold;
}


body{
    font-size: 12pt;
    background-image: url("../img/fondo_pantalla_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 599px){
    body{
        font-size: 12pt;
        background-image: url("../img/fondo_pantalla.jpg");
        background-repeat: repeat-y;
        background-size:cover;
    }
}

.boton{
    background:linear-gradient(to bottom, #fff200 , #ff0000);
    border: none;
}
.navegacion{
    font-weight: bold;
    background:linear-gradient(to bottom, #fff200 , #ff0000);
}